<!DOCTYPE: html>
<head>
</head>
<%# space %>
<body>
<h1>My taks</h1>
Laundry
   <div>
      <input type="checkbox" id="<%task%>" name="<%task%>" checked>
      <label for="<%task%>>"<%task>"</label>
    </div>

<% tasks.each do |task| %>
  task
<% end %><%taks%>
</body>
